@import "./variables.css";
@import "./components.css";


/*This is the style file for the CSS of the UI element*/

body
{
  font-family: var(--ff-normal);
}






/**/

.sign-up-infos
{
  padding: 0.5rem 1.5rem;
}

  .sign-up-infos > *
  {
    margin-bottom: 1rem;
  }

  .sign-up-infos__title
  {
    font-size: 32px;
  }

  .sign-up-infos__item
  {
    display: flex;
    gap: 1rem;
  }





/**/
.sign-up-form
{
  padding: 0.5rem 1.5rem;
}

  .sign-up-form > *
  {
    margin-bottom: 1rem;
  }

  .sign-up-form__input-box
  {
    display: flex;
    flex-direction: column;
  }

    .sign-up-form__label
    {
      margin-bottom: 1rem;
      font-size: 0.8rem;
      font-weight: var(--fw-bold);
    }

    .sign-up-form__input
    {
      padding: 1rem;
      height: 3.5rem;
      min-width: 18rem;
      max-width: 19rem;
      border-radius: .5rem;
      color: var(--clr-primary-gray);
      border: 1px solid var(--clr-primary-gray);
      outline: none;
    }



/**/
.attribution
{
  bottom: 0;
  position: fixed;
}